.app{
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);   
}
.header__navbar {
    display: flex;
    justify-content:space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 10px 0 0 0;

}
.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
}
/* User */
#register-btn,
#login-btn,
#user {
    display: none;
}
#register-btn.open,
#login-btn.open,
#user.open {
    display: inline-flex;
}

.header__navbar-user {
    justify-items: center;
    position: relative;
}
.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    width: 160px;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}
.header__navbar-user-menu::after {
    content: "";
    border-width: 10px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 20px;
    top: -16px;
}
.header__navbar-user-menu::before {
    content: "";
    display:block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 100px;
    height: 20px;
}
.header__navbar-user-item {
    
}
.header__navbar-user-item span {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    display: block;
    padding: 8px 16px;
    border-radius: 2px;
}
.header__navbar-user-item span:hover {
    background-color: #fafafa;
}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#sign-out-pop-up {
    position: absolute;
    top: 170px;
    right: 16px;
    background-color: #198754;
    color: var(--white-color);
    width: 190px;
    height: 32px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
    display: none;
    opacity: 0;
    transform: scale(80%);
}
#sign-out-pop-up i {
    font-size: 1.6rem;
    display: inline-block;
    padding: 0 12px 0 8px;
    color: var(--white-color);
}
#sign-out-pop-up.open {
    opacity: 1;
    transform: scale(104%);
    display: block;
}
#sign-out-pop-up-on-mobile-tablet {
    display: none;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify{
    opacity: 1;
    transform: scale(1);
}
.header__notify-on-mobile-tablet {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: var(--white-color);
    cursor: default;
    opacity: 0;
    transform: translateX(-110%);
    transition: all .2s ease;
    will-change: opacity, transform;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 calc((100% - 644px) / 2);

}
.header__notify-on-mobile-tablet.open {
    opacity: 1;
    transform: translateX(0);
}
.header__navbar-item,
.header__navbar-item-link    {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color:rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--strong {
    font-weight: 500;
}
.header__navbar-item--separate::after {
content: '';
position: absolute;
right: -9px;
top: 50%;
transform: translateY(-50%);
border-left: 1px solid #FB9086;
height: 16px
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    
}
.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link  {
    display:inline-flex;
    align-items: center;
}
.header__navbar-title--no-pointer {
    cursor: default;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 180%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeInZoom .3s ease;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header__qr::before {
    content: "";
    display:block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-link:first-child {
    margin-left: 11px;
    opacity: 0.8;
    transition: all 0.1s ease
}
.header__qr-link:first-child:hover {
    transform: scale(110%);
    opacity: 1;

}
.header__qr-link:last-child {
    margin-right: 11px;
    opacity: 0.8;
    transition: all 0.1s ease


}
.header__qr-link:last-child:hover {
    transform: scale(110%);
    opacity: 1;

}
.header__qr-download-img {
    height: 15px;
}
/* Notification */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: var(--white-color);
    cursor: default;
    transform-origin: 92% 0%;
    opacity: 0;
    transform: scale(0);
    transition: all .2s ease;
    will-change: opacity, transform;
    z-index: 1;
}
.header__notify::after {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::before {
    content: "";
    display:block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}
.header__notify-header {
    height: 40px;
    background: var(--white-color);
    line-height: 40px;
}
.header__notify-header h3 {
    color: #777;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    padding: 0;
}
.header__notify-list {
    padding-left: 0;
    margin:0;
}
.header__notify-item {
    display: flex;
    background-color: rgb(238,75,43,0.1);
    transition: all .1s ease;
    border-radius: 5px;
    
}
.header__notify-item:hover {
    background-color: #f7f7f7;
    transform: scale(98%);
}
.header__notify-item--viewed {
    background-color: var(--white-color);
}
.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
    border-radius: 6px;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    color: var(--text-color);
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 8px;
}
.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E
}
.header__notify-footer {
    text-align: center;
    padding: 8px 16px;

}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Authen modal */
.auth-form {
    background-color: var(--white-color);
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
}
.auth-form.open {
    display: block;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);   
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #777;
}
/* Validation */ 
.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    display: block;
    padding: 4px 0 0 12px;
}
/* End validation */
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height:1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back {
    margin-right: 8px;
}
/* Regist-success */
.auth-form__regist-success {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .2s linear;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.auth-form__regist-success.open {
    display: block;
}
.auth-form__regist-success div.outer {
    position: absolute;
    top: 65.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 438px;
    height: 150px;
    background-color: rgb(255, 233, 233);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.auth-form__regist-success p {
    font-size: 1.8rem;
    color: var(--text-color);
}
.auth-form__regist-success div.inner {
    display: flex;
    width: 69%;
    justify-content: space-between;
}
.auth-form__regist-success a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 120px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
}
.auth-form__regist-success span {
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 90px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;
}
.auth-form__regist-success a:hover,
.auth-form__regist-success span:hover {
    opacity: 1;
    transform: scale(104%);
}
/* Regist-fail */
.auth-form__regist-fail {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .2s linear;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.auth-form__regist-fail.open {
    display: block;
}
.auth-form__regist-fail div.outer {
    position: absolute;
    top: 65.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 438px;
    height: 150px;
    background-color: rgb(255, 233, 233);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-form__regist-fail p {
    font-size: 1.8rem;
    color: var(--text-color);
}
.auth-form__regist-fail div.inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-form__regist-fail span {
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 90px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;
}
.auth-form__regist-fail span:hover {
    opacity: 1;
    transform: scale(104%);
}
/* Login success */
.auth-form__login-success {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .2s linear;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.auth-form__login-success.open {
    display: block;
}
.auth-form__login-success div.outer {
    position: absolute;
    top: 65.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 438px;
    height: 150px;
    background-color: rgb(255, 233, 233);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-form__login-success p {
    font-size: 1.8rem;
    color: var(--text-color);
}
.auth-form__login-success div.inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-form__login-success span {
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 90px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;
}
.auth-form__login-success span:hover {
    opacity: 1;
    transform: scale(104%);
}
/* Login fail - wrong password */
.auth-form__login-wrong-password {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .2s linear;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.auth-form__login-wrong-password.open {
    display: block;
}
.auth-form__login-wrong-password div.outer {
    position: absolute;
    top: 65.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 438px;
    height: 150px;
    background-color: rgb(255, 233, 233);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-form__login-wrong-password p {
    font-size: 1.8rem;
    color: var(--text-color);
}
.auth-form__login-wrong-password div.inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-form__login-wrong-password span {
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 90px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;
}
.auth-form__login-wrong-password span:hover {
    opacity: 1;
    transform: scale(104%);
}
/* Login fail - not registered email */
.auth-form__login-not-registered-email {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .2s linear;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.auth-form__login-not-registered-email.open {
    display: block;
}
.auth-form__login-not-registered-email div.outer {
    position: absolute;
    top: 65.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 438px;
    height: 150px;
    background-color: rgb(255, 233, 233);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth-form__login-not-registered-email p {
    font-size: 1.8rem;
    color: var(--text-color);
}
.auth-form__login-not-registered-email div.inner {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-form__login-not-registered-email span {
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 90px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;
}
.auth-form__login-not-registered-email span:hover {
    opacity: 1;
    transform: scale(104%);
}
/* Forget password */
.auth-form__login-forget-password {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn .2s linear;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
}
.auth-form__login-forget-password.open {
    display: block;
}
.auth-form__login-forget-password div.outer {
    position: absolute;
    top: 65.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 438px;
    height: 150px;
    background-color: rgb(255, 233, 233);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.auth-form__login-forget-password input {
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    height: 25px;
    width: 50%;
    text-align: center;
}
.auth-form__login-forget-password div.inner {
    display: flex;
    width: 69%;
    justify-content: space-between;
    align-items: center;
}
.auth-form__login-forget-password p {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 120px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;
}
.auth-form__login-forget-password span {
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    height: 28px;
    width: 90px;
    border-radius: 2px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 28px;
    opacity: 0.9;
    transition: all .2s ease;
    cursor: pointer;

}
.auth-form__login-forget-password p:hover,
.auth-form__login-forget-password span:hover {
    opacity: 1;
    transform: scale(104%);
}








.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}
.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}
.auth-form__socials-title {
    margin: 0 36px;
}
.auth-form___help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.red {
    color: var(--primary-color);
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #939393;
    cursor: pointer;
}
.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 22px;
    margin: 0 16px ;
}
.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height:  var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__mobile-search {
    padding: 8px;
    display: none;
}
.header__mobile-search-icon {
    foheader__logont-size: 3.6rem;
    color: var(--white-color);
}
.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__logo-on-tablet {
    display: none;
}
.header__noti-on-mobile-tablet {
    display: none;
}
.header__logo {
    width: 200px;
}
.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}
.header__logo-img {
    width: 150px;
    color: var(--white-color)
}
.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    align-items: center;
    display: flex;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;  
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
} 
.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding: 4px 0;
    padding-left: 16px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.6rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
}
.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    animation: fadeInZoom .2s ease;
    display: none;
    z-index: 1;
}
.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header__search-option-item {
    padding: 8px;
    background-color: var(--white-color);
    cursor: pointer;
    transition: all .1s linear;
    border-radius: 2px;
}
.header__search-option-item:hover {
    background-color: #fafafa;
    transform: scale(103%);
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}



.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}
.header__search-btn:hover {
    opacity: 0.9;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);

}
/* Search history */
.header__search-input:focus + .header__search-history {
    display: block;
}
.header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px #ccc;
    overflow: hidden;
    display: none;
    overflow-y: auto;
    max-height: 300px;
    z-index: 1;
}
.header__search-history-heading {
    margin: 12px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.header__search-history-item {
    height: 38px;
    padding: 12px 16px;
}
.header__search-history-item:hover {
    background-color: #fafafa;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 100%;
    display: block;
}



.header__signin-on-mobile-tablet {
    display: none
}
.header__avtar-on-mobile-tablet {
    display: none
}


/* Cart */
.header__cart {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headet__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
}
.header__cart-icon {
    color: var(--white-color);
    font-size: 3.6rem;
}
.header__cart-notice {
    position: absolute;
    top: 0;
    right: 1px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}
/* .headet__cart-wrap:hover .header__cart-list {
    display: block;
} */
.header__cart-list.open {
    display: block;
}
.header__cart-list {
    position: absolute;
    top: calc(100% - 4px);
    right: 3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3rem rgba(0, 0, 0, 0.2);
    animation: fadeIn .2s ease;
    display: none;
    cursor: default;
    z-index: 1;

}  
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -23px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;

}
.header__cart-list--no-cart {
    padding: 24px 0;
}
.header__cart-no-cart-img {
    width: 54%;
    margin: 0 auto;
    display: block;
    display: none;
}
.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 24px;
    text-align: center;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
}
.header__cart-list--no-cart .header__cart-heading,
.header__cart-list--no-cart .header__cart-view-cart {
    display: none;
}
.header__cart-heading {
    margin: 12px 0 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    margin: 0;
    max-height: 50vh ;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-item:hover {
    background: #F8F8F8;
}
.header__cart-img {
    width: 60px;
    object-fit: contain;
    margin: 12px;
    object-position: center;
    border: 1px solid var(--border-color);
}
.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    text-align: left;
    flex: 1;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);

}
.header__cart-item-multiply {
    color: #757575;
    font-size: 1rem;
    margin: 0 4px;
}
.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 6px;
}
.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    cursor: pointer;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
}
.header__cart-view-cart {
    float: right;
    margin: 12px 12px 12px 0;
    transition: all .2s ease;
}
.header__cart-view-cart:hover {
    transform: scale(104%);
    opacity: 0.9;
}

/* Header sort bar on table mobile */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}
.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}
.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
/* App container */
.app__container {
    background-color: #F5F5F5;

}
.app__content {
    padding-top: 36px;
}
.category {
    border-radius: 2px;
    background-color: var(--white-color);
}
.category__heading {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 60px;
    text-align: center;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    height: 60px;
    position:relative;
}
.category__heading::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 10px;
    background-color: #f5f5f5;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
    position: relative;
    top: -1px;
}
.category-list {
    padding: 0 0 0 0;
    list-style: none;
    margin-left: 8px;

}
.category-item {
    position: relative;
}
.category-item:first-child::after {
    display: none;
}
.category-item::after {
    position: absolute;
    top: 0;
    left: 12px;
    right: 16px;
    content: "";
    border-top: 1px solid #f5f5f5;
    display: block;
}
.category-item--active .category-item__link {
    color: var(--primary-color);
}
.category-item--active .category-item__link::before {
    position: absolute;
    top: 49%;
    left: 4px;
    transform: translateY(-50%);
    content:"";
    border: 6px solid;
    border-color: transparent transparent transparent var(--primary-color);

}
.category-item__link {
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    transition: right linear 0.1s ;
    height: 38px;
    line-height: 38px;
    padding-left: 16px;
}
.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}
/* Mobile category */
.mobile-category {
    display: none;
}
.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar {
    display: none;

}
.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
}
.mobile-category__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 40px;
    text-align: center;
    width: 110px;
    height: 40px;
    display: block;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    padding: 0 6px;
    -webkit-tap-highlight-color: transparent;
    
    overflow: hidden;
    /* c1 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    
    /* c2 */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

/* home filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05)
}
.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;

}
.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;

}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    box-shadow:  0 1px 6px rgba(0, 0, 0, 0.1);
}
.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
  
}
.home-filter__page-btn:first-child {
    border-right: 4px solid #eee;
}
.home-filter__page-btn--disabled {
    background-color: #F9F9F9;
    
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
    cursor: default;
}
.home-filter__page-icon {
    margin: auto;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    line-height: 36px;
    color: #555;
    cursor: pointer;
}
/* Product item */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    margin-top: 10px;
    position: relative;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all ease .1s;
    cursor: pointer;

}
.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-2px);
}
.home-product-item__img {
    padding-top: 100%;
    /*  bang 100% width cua containing element 
    tuong tu width: 100% => bang width cua containing element*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    display: block;
    /* c1 hien thi dau ... */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;

    /* C2: chi hien thi duoc duy nhat 1 dong do white-space: nowrap  */
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    
}
.home-product-item__price-old {
    font-size: 1.2rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 6px;
}
.home-product-item__price-current {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}
.home-product-item__like {
    font-size: 1.4rem;
    cursor: pointer;
}
.home-product-item__like-icon-empty {
    color: #595959;

}
.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}


.home-product-item__rating {
    font-size: 1rem;
    color: #8d8d8d;
    margin: -1px 0 0 0;
    display: flex;
    align-items: center;
}
.home-product-item__rating i {
    flex: 1;
}
.home-product-item__star--gold {
    color: #FFCE3E;
}
.home-product-item__sold {
    font-size: 1.1rem;
    color: var(--text-color);
    display: block;

}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 4px;
}
.home-product-item__brand {

}
.home-product-item__origin-name {

}


.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500px;
    padding-right: 6px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite::before {
    content:"";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite i {
    font-size: 1rem;
    margin: 0 3px 0 6px;
    color: var(--white-color);
}
.home-product-item__favourite span {
    color: var(--white-color);

}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, 0.92);
    text-align: center;
    border-top-right-radius: 2px;
    display: flex;
    flex-direction: column;

}
.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.6rem;
    padding-top: 2px;
    display: block;
}
.home-product-item__sale-off-lable {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, 0.92) transparent rgb(255, 216, 64, 0.92);
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    white-space: nowrap;
}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-item {

}
.footer-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    display: flex;
    align-items: center;
    transition: all .1s ease;
    position: relative;
}
.footer-item__link:hover {
    color: var(--primary-color);
    transform: translateX(4px);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    margin-left: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img {
    height: 16px;
}
.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}
.footer__bottom {
    background-color: #f5f5f5;
    padding: 12px 0;
    margin-top: 36px;
}
.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}
